.suggestions {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

.list-group-item {
    cursor: pointer;
}

.imagePreview {
    margin-top: 15px;
}

.imagePreview img {
    max-height: 100px;
    width: auto;
    margin-bottom: 15px;
}

.navbar-brand {
    width: 100%;
    height: 100%;
}

/* Container for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide the default checkbox */
.toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Hide the default radio */
.toggle-switch input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Create the slider (background of the toggle switch) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

/* Create the knob (circle inside the toggle switch) */
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the radio is checked, move the knob to the right */
input[type="radio"]:checked + .slider {
    background-color: #2196f3;
}

input[type="radio"]:checked + .slider:before {
    transform: translateX(26px);
}

/* When the checkbox is checked, move the knob to the right */
input[type="checkbox"]:checked + .slider {
    background-color: #2196f3;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
}
