.navbar-brand {
    height: 88px;
}

.navbar-brand img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.youtube-video {
    width: 100vw;
    height: 100vh;
}
video {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.logo.slick-slide img {
    height: 220px;
}

@media (max-width: 990px) {
    .navbar-brand {
        height: 58px;
    }
}

#videoModal {
    z-index: 9999;
}

.btn-block {
    position: relative;
    z-index: 9;
}

.fixed-top img.logo {
    max-width: 200px;
    transform: translateY(-40px);
}

header {
    transition: all 0.3s ease-in-out 0s;
    animation: 0.3s slideout;
}

@keyframes slideout {
    0% {
        top: 0px;
    }

    100% {
        top: -110px;
    }
}

header.fixed-top {
    background: rgba(13, 136, 136, 0.75);
    transition: all 0.3s ease-in-out 0s;
    animation: 0.3s slidein;
    padding-left: 60px;
    padding-right: 60px;
}

header.small-screen.fixed-top {
    padding-left: 0px;
    padding-right: 0px;
}

@keyframes slidein {
    0% {
        top: -110px;
    }

    100% {
        top: 0%;
    }
}

/* Container for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide the default checkbox */
.toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Hide the default radio */
.toggle-switch input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Create the slider (background of the toggle switch) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

/* Create the knob (circle inside the toggle switch) */
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the radio is checked, move the knob to the right */
input[type="radio"]:checked + .slider {
    background-color: #2196f3;
}

input[type="radio"]:checked + .slider:before {
    transform: translateX(26px);
}

/* When the checkbox is checked, move the knob to the right */
input[type="checkbox"]:checked + .slider {
    background-color: #2196f3;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
}
