.navbar-brand {
    height: 88px;
}

.navbar-brand img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.youtube-video {
    width: 100vw;
    height: 100vh;
}
video {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.logo.slick-slide img {
    height: 220px;
}

@media (max-width: 990px) {
    .navbar-brand {
        height: 58px;
    }
}

#videoModal {
    z-index: 9999;
}

.btn-block {
    position: relative;
    z-index: 9;
}

.fixed-top img.logo {
    max-width: 200px;
    transform: translateY(-40px);
}

header {
    transition: all 0.3s ease-in-out 0s;
    animation: 0.3s slideout;
}

@keyframes slideout {
    0% {
        top: 0px;
    }

    100% {
        top: -110px;
    }
}

header.fixed-top {
    background: rgba(13, 136, 136, 0.75);
    transition: all 0.3s ease-in-out 0s;
    animation: 0.3s slidein;
    padding-left: 60px;
    padding-right: 60px;
}

header.small-screen.fixed-top {
    padding-left: 0px;
    padding-right: 0px;
}

@keyframes slidein {
    0% {
        top: -110px;
    }

    100% {
        top: 0%;
    }
}
